.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #311e69;
  display: flex;
}

.loginFormContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.innerImageContainer {
  height: fit-content;
}
