.image {
  object-fit: scale-down;
}

.itemContainer {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
}

.itemContainer:hover {
  transform: scale(1.2);
  cursor: pointer;
}
